.corpologin{

    display:flex;
    align-items:center;         /*alinhar acima abaixo*/
    justify-content:center;     /*alinhar esquerda direita*/
    height:100vh;               /*o tamanho do fundo é o tamanho da tela*/
}

.painel{
    position:absolute;  /*posição de camadas*/
    z-index:1;   /*posicionar camada a frente*/
    width:80%;

}
.telalogin{
    background-color: rgba(213, 200, 241, 0.945);
    border-radius:20px;
    box-shadow:2px 2px 10px  gray !important;
}